In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("credit_card_approval.csv")
application_df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,F,Y,N,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,F,N,N,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,M,Y,Y,No children,270000.0,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,F,Y,Y,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,M,Y,Y,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0

In [2]:
application_df.dtypes

ID                       int64
CODE_GENDER             object
FLAG_OWN_CAR            object
FLAG_OWN_REALTY         object
CNT_CHILDREN            object
AMT_INCOME_TOTAL       float64
NAME_EDUCATION_TYPE     object
NAME_FAMILY_STATUS      object
NAME_HOUSING_TYPE       object
DAYS_BIRTH               int64
DAYS_EMPLOYED            int64
FLAG_MOBIL               int64
FLAG_WORK_PHONE          int64
FLAG_PHONE               int64
FLAG_EMAIL               int64
JOB                     object
BEGIN_MONTHS             int64
STATUS                  object
TARGET                   int64
dtype: object

In [3]:
# Find null values
for column in application_df.columns:
    print(f'Columns {column} has {application_df[column].isnull().sum()} nullvalues')

Columns ID has 0 nullvalues
Columns CODE_GENDER has 0 nullvalues
Columns FLAG_OWN_CAR has 0 nullvalues
Columns FLAG_OWN_REALTY has 0 nullvalues
Columns CNT_CHILDREN has 0 nullvalues
Columns AMT_INCOME_TOTAL has 0 nullvalues
Columns NAME_EDUCATION_TYPE has 0 nullvalues
Columns NAME_FAMILY_STATUS has 0 nullvalues
Columns NAME_HOUSING_TYPE has 0 nullvalues
Columns DAYS_BIRTH has 0 nullvalues
Columns DAYS_EMPLOYED has 0 nullvalues
Columns FLAG_MOBIL has 0 nullvalues
Columns FLAG_WORK_PHONE has 0 nullvalues
Columns FLAG_PHONE has 0 nullvalues
Columns FLAG_EMAIL has 0 nullvalues
Columns JOB has 0 nullvalues
Columns BEGIN_MONTHS has 0 nullvalues
Columns STATUS has 0 nullvalues
Columns TARGET has 0 nullvalues

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

ID                     25134
CODE_GENDER                2
FLAG_OWN_CAR               2
FLAG_OWN_REALTY            2
CNT_CHILDREN               3
AMT_INCOME_TOTAL         195
NAME_EDUCATION_TYPE        5
NAME_FAMILY_STATUS         5
NAME_HOUSING_TYPE          6
DAYS_BIRTH              5206
DAYS_EMPLOYED           3299
FLAG_MOBIL                 1
FLAG_WORK_PHONE            2
FLAG_PHONE                 2
FLAG_EMAIL                 2
JOB                       18
BEGIN_MONTHS              61
STATUS                     8
TARGET                     2
dtype: int64

In [5]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,CNT_CHILDREN_1 children,CNT_CHILDREN_2+ children,CNT_CHILDREN_No children,NAME_EDUCATION_TYPE_Academic degree,...,JOB_Security staff,JOB_Waiters/barmen staff,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,ID,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,BEGIN_MONTHS,TARGET,...,JOB_Security staff,JOB_Waiters/barmen staff,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,5065438,270000.0,-13258,-2300,1,0,0,0,-6,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,5142753,81000.0,-17876,-377,1,1,1,0,-4,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5111146,270000.0,-19579,-1028,1,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,5010310,112500.0,-15109,-1956,1,0,0,0,-3,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5010835,139500.0,-17281,-5578,1,1,0,0,-29,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Split our preprocessed data into our features and target arrays
y = application_df["TARGET"].values
X = application_df.drop(["TARGET"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                610

 dense_1 (Dense)             (None, 5)                 55

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 671
Trainable params: 671
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [13]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=10,callbacks=[cp_callback])

Epoch 1/10
12602/12602 [==============================] - 12s 874us/step - loss: 0.0055 - accuracy: 0.9994
Epoch 2/10
12602/12602 [==============================] - 11s 897us/step - loss: 7.1171e-06 - accuracy: 1.0000
Epoch 3/10
12602/12602 [==============================] - 12s 925us/step - loss: 2.8319e-07 - accuracy: 1.0000
Epoch 4/10
12602/12602 [==============================] - 12s 913us/step - loss: 5.0673e-09 - accuracy: 1.0000
Epoch 5/10
12557/12602 [============================>.] - ETA: 0s - loss: 4.9201e-10 - accuracy: 1.0000
Epoch 00005: saving model to checkpoints\weights.05.hdf5
12602/12602 [==============================] - 11s 886us/step - loss: 4.9033e-10 - accuracy: 1.0000
Epoch 6/10
12602/12602 [==============================] - 12s 969us/step - loss: 2.1003e-10 - accuracy: 1.0000
Epoch 7/10
12602/12602 [==============================] - 12s 943us/step - loss: 1.3070e-10 - accuracy: 1.0000s
Epoch 8/10
12602/12602 [==============================] - 12s 928us/step - loss: 9.4027e-11 - accuracy: 1.0000
Epoch 9/10
12602/12602 [==============================] - 12s 920us/step - loss: 7.3088e-11 - accuracy: 1.0000
Epoch 10/10
12586/12602 [============================>.] - ETA: 0s - loss: 5.9236e-11 - accuracy: 1.0000
Epoch 00010: saving model to checkpoints\weights.10.hdf5
12602/12602 [==============================] - 12s 945us/step - loss: 5.9604e-11 - accuracy: 1.0000

In [14]:
# Evaluate the model ux|sing the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4201/4201 - 2s - loss: 6.0531e-11 - accuracy: 1.0000 - 2s/epoch - 592us/step
Loss: 6.053087892032849e-11, Accuracy: 1.0