# Credit Card approval prediction

## Import all dependencies

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from sqlalchemy import create_engine

## Connect to data base

In [2]:
# AWS Server password in config.py file
from config import db_password

In [3]:
# Direction to AWS RDS Server
url_AWS = "dbproject.cprghtxfxmsc.us-east-1.rds.amazonaws.com"
# Database name in Server
db_name = "postgres"

# Connection string
db_string = f"postgresql://postgres:{db_password}@{url_AWS}:5432/{db_name}"

db = create_engine(db_string)

In [4]:
# Read and safe dataframe
Credit_result = db.execute("SELECT * FROM credit_join")
print(Credit_result)

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x0000029B04FFB808>

## Start data preprocessing

In [5]:
# Set columns names on the dataframe
application_df = pd.DataFrame(Credit_result,columns=('ID','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','DAYS_BIRTH','DAYS_EMPLOYED','FLAG_MOBIL','FLAG_WORK_PHONE','FLAG_PHONE','FLAG_EMAIL','JOB','BEGIN_MONTHS','STATUS','TARGET')).sort_values(by=['ID'],ascending = True)
application_df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
522011,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-13,0,0
411853,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-29,X,0
412434,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-8,0,0
459002,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,0,C,0
187203,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-10,X,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44504,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-14,C,0
123112,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-28,C,0
70995,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-15,C,0
428080,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-2,C,0
403855,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-9,C,0

### Check data characteristics

In [6]:
# Check the total number of applications
application_df['ID'].count()

537667

In [7]:
# Identify data types per columns on the dataframe
application_df.dtypes

ID                      int64
CODE_GENDER            object
FLAG_OWN_CAR           object
FLAG_OWN_REALTY        object
CNT_CHILDREN           object
AMT_INCOME_TOTAL       object
NAME_EDUCATION_TYPE    object
NAME_FAMILY_STATUS     object
NAME_HOUSING_TYPE      object
DAYS_BIRTH              int64
DAYS_EMPLOYED           int64
FLAG_MOBIL               bool
FLAG_WORK_PHONE          bool
FLAG_PHONE               bool
FLAG_EMAIL               bool
JOB                    object
BEGIN_MONTHS            int64
STATUS                 object
TARGET                  int64
dtype: object

In [8]:
# Find null values
for column in application_df.columns:
    print(f'Columns {column} has {application_df[column].isnull().sum()} nullvalues')

Columns ID has 0 nullvalues
Columns CODE_GENDER has 0 nullvalues
Columns FLAG_OWN_CAR has 0 nullvalues
Columns FLAG_OWN_REALTY has 0 nullvalues
Columns CNT_CHILDREN has 0 nullvalues
Columns AMT_INCOME_TOTAL has 0 nullvalues
Columns NAME_EDUCATION_TYPE has 0 nullvalues
Columns NAME_FAMILY_STATUS has 0 nullvalues
Columns NAME_HOUSING_TYPE has 0 nullvalues
Columns DAYS_BIRTH has 0 nullvalues
Columns DAYS_EMPLOYED has 0 nullvalues
Columns FLAG_MOBIL has 0 nullvalues
Columns FLAG_WORK_PHONE has 0 nullvalues
Columns FLAG_PHONE has 0 nullvalues
Columns FLAG_EMAIL has 0 nullvalues
Columns JOB has 0 nullvalues
Columns BEGIN_MONTHS has 0 nullvalues
Columns STATUS has 0 nullvalues
Columns TARGET has 0 nullvalues

In [9]:
# Determine the number of unique values in each column.
application_df.nunique()

ID                     25134
CODE_GENDER                2
FLAG_OWN_CAR               2
FLAG_OWN_REALTY            2
CNT_CHILDREN               3
AMT_INCOME_TOTAL         195
NAME_EDUCATION_TYPE        5
NAME_FAMILY_STATUS         5
NAME_HOUSING_TYPE          6
DAYS_BIRTH              5206
DAYS_EMPLOYED           3299
FLAG_MOBIL                 1
FLAG_WORK_PHONE            2
FLAG_PHONE                 2
FLAG_EMAIL                 2
JOB                       18
BEGIN_MONTHS              61
STATUS                     8
TARGET                     2
dtype: int64

### Start manipulating the date to create the dataframe for the model

In [10]:
# Get unique IDs of the applications
unique_id = pd.DataFrame(application_df['ID'].drop_duplicates())
unique_id.reset_index(drop= True)

            ID
0      5008806
1      5008808
2      5008809
3      5008810
4      5008811
...        ...
25129  5150482
25130  5150483
25131  5150484
25132  5150485
25133  5150487

[25134 rows x 1 columns]

In [11]:
# Create dataframe with high risk applicants
df = pd.DataFrame()
for x in unique_id['ID'].tolist():
    for y in application_df.index[application_df['ID'] == x].tolist():
        if (application_df['TARGET'][y] == 1):
            df = df.append(application_df.loc[[y]])
            break

In [12]:
# Organize the columns of the dataframe and sort values by ID
df = df[['ID','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','DAYS_BIRTH','DAYS_EMPLOYED','FLAG_MOBIL','FLAG_WORK_PHONE','FLAG_PHONE','FLAG_EMAIL','JOB','BEGIN_MONTHS','STATUS','TARGET']]
df.sort_values(by=['ID'],ascending=True)
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
33275,5009524,M,Y,N,1 children,"$112,500.00",Secondary / secondary special,Separated,Co-op apartment,-11998,-1135,True,True,False,False,Laborers,-10,2,1
313162,5009628,F,N,N,No children,"$238,500.00",Secondary / secondary special,Married,House / apartment,-19305,-3296,True,True,False,False,Laborers,-32,5,1
159525,5009938,F,N,Y,2+ children,"$157,500.00",Secondary / secondary special,Married,House / apartment,-10710,-2351,True,False,False,False,Sales staff,-21,2,1
122064,5010396,F,Y,Y,1 children,"$225,000.00",Higher education,Married,House / apartment,-14148,-1591,True,True,True,False,High skill tech staff,-4,2,1
126496,5010535,F,Y,N,2+ children,"$135,000.00",Secondary / secondary special,Married,House / apartment,-13928,-3052,True,False,False,False,Laborers,-50,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19808,5149834,F,N,Y,No children,"$157,500.00",Higher education,Married,House / apartment,-12387,-1325,True,False,True,True,Medicine staff,-5,5,1
390514,5149838,F,N,Y,No children,"$157,500.00",Higher education,Married,House / apartment,-12387,-1325,True,False,True,True,Medicine staff,-14,5,1
383028,5150049,F,N,Y,No children,"$283,500.00",Secondary / secondary special,Married,House / apartment,-17958,-655,True,False,False,False,Sales staff,0,2,1
16736,5150238,F,Y,Y,No children,"$90,000.00",Secondary / secondary special,Married,House / apartment,-19084,-128,True,True,False,False,Laborers,-5,2,1
192317,5150337,M,N,Y,No children,"$112,500.00",Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,True,False,False,False,Laborers,-10,2,1

In [13]:
# Confirm the number of low risk applications. Eliminating the high risk applicants
for x in df['ID']:
    unique_id = unique_id.drop(unique_id.loc[unique_id['ID']==x].index)
unique_id['ID'].count()

24712

In [14]:
# Remove all high risk applications from the original dataframe (there are duplicated applications)
for x in df['ID']:
    application_df = application_df.drop(application_df.loc[application_df['ID']==x].index)
application_df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
522011,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-13,0,0
411853,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-29,X,0
412434,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-8,0,0
459002,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,0,C,0
187203,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-10,X,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44504,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-14,C,0
123112,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-28,C,0
70995,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-15,C,0
428080,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-2,C,0
403855,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-9,C,0

In [15]:
# Remove duplicated low risk applications 
application_df.drop_duplicates(subset="ID", inplace=True)
application_df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
522011,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-13,0,0
282991,5008808,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,True,False,True,True,Sales staff,-2,0,0
81599,5008809,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,True,False,True,True,Sales staff,-23,X,0
49983,5008810,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,True,False,True,True,Sales staff,-8,C,0
62109,5008811,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,True,False,True,True,Sales staff,-15,C,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159544,5150482,F,Y,Y,1 children,"$157,500.00",Secondary / secondary special,Married,House / apartment,-10808,-1739,True,False,False,False,Core staff,-22,0,0
418720,5150483,F,Y,Y,1 children,"$157,500.00",Secondary / secondary special,Married,House / apartment,-10808,-1739,True,False,False,False,Core staff,0,X,0
453767,5150484,F,Y,Y,1 children,"$157,500.00",Secondary / secondary special,Married,House / apartment,-10808,-1739,True,False,False,False,Core staff,-10,0,0
136580,5150485,F,Y,Y,1 children,"$157,500.00",Secondary / secondary special,Married,House / apartment,-10808,-1739,True,False,False,False,Core staff,-1,0,0
254597,5150487,M,Y,N,No children,"$202,500.00",Secondary / secondary special,Married,House / apartment,-19398,-2166,True,False,False,False,Drivers,-21,C,0

In [16]:
# Append single low risk application dataframe and single high risk applications
application_df = application_df.append(df)
application_df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
522011,5008806,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-21474,-1134,True,False,False,False,Security staff,-13,0,0
282991,5008808,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,True,False,True,True,Sales staff,-2,0,0
81599,5008809,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,True,False,True,True,Sales staff,-23,X,0
49983,5008810,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,True,False,True,True,Sales staff,-8,C,0
62109,5008811,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,True,False,True,True,Sales staff,-15,C,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19808,5149834,F,N,Y,No children,"$157,500.00",Higher education,Married,House / apartment,-12387,-1325,True,False,True,True,Medicine staff,-5,5,1
390514,5149838,F,N,Y,No children,"$157,500.00",Higher education,Married,House / apartment,-12387,-1325,True,False,True,True,Medicine staff,-14,5,1
383028,5150049,F,N,Y,No children,"$283,500.00",Secondary / secondary special,Married,House / apartment,-17958,-655,True,False,False,False,Sales staff,0,2,1
16736,5150238,F,Y,Y,No children,"$90,000.00",Secondary / secondary special,Married,House / apartment,-19084,-128,True,True,False,False,Laborers,-5,2,1
192317,5150337,M,N,Y,No children,"$112,500.00",Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,True,False,False,False,Laborers,-10,2,1

### Create the final dataframe selecting the features to use

In [17]:
# Drop the non-beneficial columns, 'DAYS_BIRTH', 'BEGIN_MONTHS'.
application_df.drop(['ID','DAYS_BIRTH','BEGIN_MONTHS'],1, inplace =True)
application_df

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,STATUS,TARGET
522011,M,Y,Y,No children,"$112,500.00",Secondary / secondary special,Married,House / apartment,-1134,True,False,False,False,Security staff,0,0
282991,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-3051,True,False,True,True,Sales staff,0,0
81599,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-3051,True,False,True,True,Sales staff,X,0
49983,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-3051,True,False,True,True,Sales staff,C,0
62109,F,N,Y,No children,"$270,000.00",Secondary / secondary special,Single / not married,House / apartment,-3051,True,False,True,True,Sales staff,C,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19808,F,N,Y,No children,"$157,500.00",Higher education,Married,House / apartment,-1325,True,False,True,True,Medicine staff,5,1
390514,F,N,Y,No children,"$157,500.00",Higher education,Married,House / apartment,-1325,True,False,True,True,Medicine staff,5,1
383028,F,N,Y,No children,"$283,500.00",Secondary / secondary special,Married,House / apartment,-655,True,False,False,False,Sales staff,2,1
16736,F,Y,Y,No children,"$90,000.00",Secondary / secondary special,Married,House / apartment,-128,True,True,False,False,Laborers,2,1
192317,M,N,Y,No children,"$112,500.00",Secondary / secondary special,Single / not married,Rented apartment,-1193,True,False,False,False,Laborers,2,1

## Start Machine Learning Model (Neuronal Networks)

In [18]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [19]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,CNT_CHILDREN_1 children,CNT_CHILDREN_2+ children,CNT_CHILDREN_No children,"AMT_INCOME_TOTAL_$1,125,000.00",...,JOB_Security staff,JOB_Waiters/barmen staff,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,TARGET,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,...,JOB_Security staff,JOB_Waiters/barmen staff,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
2047,-1163,True,False,False,False,0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17623,-4450,True,False,True,False,0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9965,-1347,True,False,False,False,0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15313,-1194,True,True,True,False,0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6073,-889,True,False,False,False,0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
# Split our preprocessed data into our features and target arrays
y = application_df["TARGET"].values
X = application_df.drop(["TARGET"],1).values
T = application_df.drop(["TARGET"],1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 50
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                12600

 dense_1 (Dense)             (None, 20)                1020

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 13,641
Trainable params: 13,641
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=250,callbacks=[cp_callback])

Epoch 1/250
30/30 [==============================] - 0s 919us/step - loss: 0.6238 - accuracy: 0.6645
Epoch 2/250
30/30 [==============================] - 0s 860us/step - loss: 0.3185 - accuracy: 0.9820
Epoch 3/250
30/30 [==============================] - 0s 858us/step - loss: 0.2162 - accuracy: 0.9820
Epoch 4/250
30/30 [==============================] - 0s 891us/step - loss: 0.1723 - accuracy: 0.9820
Epoch 5/250
 1/30 [>.............................] - ETA: 0s - loss: 0.1224 - accuracy: 1.0000
Epoch 00005: saving model to checkpoints\weights.05.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.1482 - accuracy: 0.9820
Epoch 6/250
30/30 [==============================] - 0s 855us/step - loss: 0.1332 - accuracy: 0.9820
Epoch 7/250
30/30 [==============================] - 0s 834us/step - loss: 0.1230 - accuracy: 0.9820
Epoch 8/250
30/30 [==============================] - 0s 829us/step - loss: 0.1154 - accuracy: 0.9820
Epoch 9/250
30/30 [==============================] - 0s 837us/step - loss: 0.1099 - accuracy: 0.9820
Epoch 10/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0591 - accuracy: 1.0000
Epoch 00010: saving model to checkpoints\weights.10.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.1054 - accuracy: 0.9820
Epoch 11/250
30/30 [==============================] - 0s 895us/step - loss: 0.1019 - accuracy: 0.9820
Epoch 12/250
30/30 [==============================] - 0s 897us/step - loss: 0.0989 - accuracy: 0.9820
Epoch 13/250
30/30 [==============================] - 0s 911us/step - loss: 0.0966 - accuracy: 0.9820
Epoch 14/250
30/30 [==============================] - 0s 876us/step - loss: 0.0944 - accuracy: 0.9820
Epoch 15/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0399 - accuracy: 1.0000
Epoch 00015: saving model to checkpoints\weights.15.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0926 - accuracy: 0.9820
Epoch 16/250
30/30 [==============================] - 0s 870us/step - loss: 0.0910 - accuracy: 0.9820
Epoch 17/250
30/30 [==============================] - 0s 929us/step - loss: 0.0895 - accuracy: 0.9820
Epoch 18/250
30/30 [==============================] - 0s 918us/step - loss: 0.0881 - accuracy: 0.9820
Epoch 19/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0868 - accuracy: 0.9820
Epoch 20/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0307 - accuracy: 1.0000
Epoch 00020: saving model to checkpoints\weights.20.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0855 - accuracy: 0.9820
Epoch 21/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0844 - accuracy: 0.9820
Epoch 22/250
30/30 [==============================] - 0s 906us/step - loss: 0.0832 - accuracy: 0.9820
Epoch 23/250
30/30 [==============================] - 0s 914us/step - loss: 0.0823 - accuracy: 0.9820
Epoch 24/250
30/30 [==============================] - 0s 999us/step - loss: 0.0811 - accuracy: 0.9820
Epoch 25/250
 1/30 [>.............................] - ETA: 0s - loss: 0.2221 - accuracy: 0.9375
Epoch 00025: saving model to checkpoints\weights.25.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0802 - accuracy: 0.9820
Epoch 26/250
30/30 [==============================] - 0s 963us/step - loss: 0.0792 - accuracy: 0.9820
Epoch 27/250
30/30 [==============================] - 0s 963us/step - loss: 0.0782 - accuracy: 0.9820
Epoch 28/250
30/30 [==============================] - 0s 997us/step - loss: 0.0774 - accuracy: 0.9820
Epoch 29/250
30/30 [==============================] - 0s 928us/step - loss: 0.0765 - accuracy: 0.9820
Epoch 30/250
 1/30 [>.............................] - ETA: 0s - loss: 0.2244 - accuracy: 0.9375
Epoch 00030: saving model to checkpoints\weights.30.hdf5
30/30 [==============================] - 0s 2ms/step - loss: 0.0756 - accuracy: 0.9820
Epoch 31/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0749 - accuracy: 0.9820
Epoch 32/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0741 - accuracy: 0.9820
Epoch 33/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0733 - accuracy: 0.9820
Epoch 34/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0725 - accuracy: 0.9820
Epoch 35/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0248 - accuracy: 1.0000
Epoch 00035: saving model to checkpoints\weights.35.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0717 - accuracy: 0.9820
Epoch 36/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0710 - accuracy: 0.9820
Epoch 37/250
30/30 [==============================] - 0s 892us/step - loss: 0.0703 - accuracy: 0.9820
Epoch 38/250
30/30 [==============================] - 0s 886us/step - loss: 0.0695 - accuracy: 0.9820
Epoch 39/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0689 - accuracy: 0.9820
Epoch 40/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0263 - accuracy: 1.0000
Epoch 00040: saving model to checkpoints\weights.40.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0680 - accuracy: 0.9820
Epoch 41/250
30/30 [==============================] - 0s 917us/step - loss: 0.0674 - accuracy: 0.9820
Epoch 42/250
30/30 [==============================] - 0s 909us/step - loss: 0.0668 - accuracy: 0.9820
Epoch 43/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0662 - accuracy: 0.9820
Epoch 44/250
30/30 [==============================] - 0s 906us/step - loss: 0.0655 - accuracy: 0.9820
Epoch 45/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0786 - accuracy: 0.9688
Epoch 00045: saving model to checkpoints\weights.45.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0649 - accuracy: 0.9820
Epoch 46/250
30/30 [==============================] - 0s 877us/step - loss: 0.0641 - accuracy: 0.9820
Epoch 47/250
30/30 [==============================] - 0s 916us/step - loss: 0.0636 - accuracy: 0.9820
Epoch 48/250
30/30 [==============================] - 0s 933us/step - loss: 0.0629 - accuracy: 0.9820
Epoch 49/250
30/30 [==============================] - 0s 822us/step - loss: 0.0623 - accuracy: 0.9820
Epoch 50/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0176 - accuracy: 1.0000
Epoch 00050: saving model to checkpoints\weights.50.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0618 - accuracy: 0.9820
Epoch 51/250
30/30 [==============================] - 0s 863us/step - loss: 0.0613 - accuracy: 0.9820
Epoch 52/250
30/30 [==============================] - 0s 834us/step - loss: 0.0606 - accuracy: 0.9820
Epoch 53/250
30/30 [==============================] - 0s 911us/step - loss: 0.0602 - accuracy: 0.9820
Epoch 54/250
30/30 [==============================] - 0s 827us/step - loss: 0.0597 - accuracy: 0.9820
Epoch 55/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0659 - accuracy: 0.9688
Epoch 00055: saving model to checkpoints\weights.55.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0589 - accuracy: 0.9820
Epoch 56/250
30/30 [==============================] - 0s 852us/step - loss: 0.0584 - accuracy: 0.9820
Epoch 57/250
30/30 [==============================] - 0s 876us/step - loss: 0.0579 - accuracy: 0.9820
Epoch 58/250
30/30 [==============================] - 0s 883us/step - loss: 0.0572 - accuracy: 0.9820
Epoch 59/250
30/30 [==============================] - 0s 863us/step - loss: 0.0568 - accuracy: 0.9820
Epoch 60/250
 1/30 [>.............................] - ETA: 0s - loss: 0.1303 - accuracy: 0.9375
Epoch 00060: saving model to checkpoints\weights.60.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0562 - accuracy: 0.9820
Epoch 61/250
30/30 [==============================] - 0s 890us/step - loss: 0.0557 - accuracy: 0.9820
Epoch 62/250
30/30 [==============================] - 0s 875us/step - loss: 0.0553 - accuracy: 0.9820
Epoch 63/250
30/30 [==============================] - 0s 837us/step - loss: 0.0545 - accuracy: 0.9820
Epoch 64/250
30/30 [==============================] - 0s 847us/step - loss: 0.0539 - accuracy: 0.9820
Epoch 65/250

 1/30 [>.............................] - ETA: 0s - loss: 0.0150 - accuracy: 1.0000
Epoch 00065: saving model to checkpoints\weights.65.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0533 - accuracy: 0.9820
Epoch 66/250
30/30 [==============================] - 0s 885us/step - loss: 0.0527 - accuracy: 0.9820
Epoch 67/250
30/30 [==============================] - 0s 841us/step - loss: 0.0521 - accuracy: 0.9820
Epoch 68/250
30/30 [==============================] - 0s 882us/step - loss: 0.0513 - accuracy: 0.9820
Epoch 69/250
30/30 [==============================] - 0s 898us/step - loss: 0.0507 - accuracy: 0.9820
Epoch 70/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0257 - accuracy: 1.0000
Epoch 00070: saving model to checkpoints\weights.70.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0500 - accuracy: 0.9820
Epoch 71/250
30/30 [==============================] - 0s 901us/step - loss: 0.0495 - accuracy: 0.9820
Epoch 72/250
30/30 [==============================] - 0s 868us/step - loss: 0.0486 - accuracy: 0.9820
Epoch 73/250
30/30 [==============================] - 0s 769us/step - loss: 0.0480 - accuracy: 0.9820
Epoch 74/250
30/30 [==============================] - 0s 873us/step - loss: 0.0472 - accuracy: 0.9820
Epoch 75/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0700 - accuracy: 0.9688
Epoch 00075: saving model to checkpoints\weights.75.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0467 - accuracy: 0.9820
Epoch 76/250
30/30 [==============================] - 0s 875us/step - loss: 0.0460 - accuracy: 0.9820
Epoch 77/250
30/30 [==============================] - 0s 909us/step - loss: 0.0451 - accuracy: 0.9820
Epoch 78/250
30/30 [==============================] - 0s 962us/step - loss: 0.0443 - accuracy: 0.9820
Epoch 79/250
30/30 [==============================] - 0s 877us/step - loss: 0.0435 - accuracy: 0.9820
Epoch 80/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0270 - accuracy: 1.0000
Epoch 00080: saving model to checkpoints\weights.80.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0428 - accuracy: 0.9820
Epoch 81/250
30/30 [==============================] - 0s 897us/step - loss: 0.0419 - accuracy: 0.9820
Epoch 82/250
30/30 [==============================] - 0s 895us/step - loss: 0.0410 - accuracy: 0.9830
Epoch 83/250
30/30 [==============================] - 0s 895us/step - loss: 0.0402 - accuracy: 0.9841
Epoch 84/250
30/30 [==============================] - 0s 862us/step - loss: 0.0393 - accuracy: 0.9841
Epoch 85/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0113 - accuracy: 1.0000
Epoch 00085: saving model to checkpoints\weights.85.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0386 - accuracy: 0.9841
Epoch 86/250
30/30 [==============================] - 0s 900us/step - loss: 0.0374 - accuracy: 0.9841
Epoch 87/250
30/30 [==============================] - 0s 879us/step - loss: 0.0367 - accuracy: 0.9841
Epoch 88/250
30/30 [==============================] - 0s 930us/step - loss: 0.0357 - accuracy: 0.9851
Epoch 89/250
30/30 [==============================] - 0s 936us/step - loss: 0.0347 - accuracy: 0.9851
Epoch 90/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0487 - accuracy: 0.9688
Epoch 00090: saving model to checkpoints\weights.90.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0338 - accuracy: 0.9851
Epoch 91/250
30/30 [==============================] - 0s 901us/step - loss: 0.0329 - accuracy: 0.9851
Epoch 92/250
30/30 [==============================] - 0s 813us/step - loss: 0.0319 - accuracy: 0.9851
Epoch 93/250
30/30 [==============================] - 0s 861us/step - loss: 0.0308 - accuracy: 0.9851
Epoch 94/250
30/30 [==============================] - 0s 945us/step - loss: 0.0301 - accuracy: 0.9862
Epoch 95/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0305 - accuracy: 1.0000
Epoch 00095: saving model to checkpoints\weights.95.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0289 - accuracy: 0.9883
Epoch 96/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0280 - accuracy: 0.9883
Epoch 97/250
30/30 [==============================] - 0s 959us/step - loss: 0.0270 - accuracy: 0.9883
Epoch 98/250
30/30 [==============================] - 0s 858us/step - loss: 0.0260 - accuracy: 0.9883
Epoch 99/250
30/30 [==============================] - 0s 878us/step - loss: 0.0256 - accuracy: 0.9904
Epoch 100/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0441 - accuracy: 1.0000
Epoch 00100: saving model to checkpoints\weights.100.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0244 - accuracy: 0.9904
Epoch 101/250
30/30 [==============================] - 0s 898us/step - loss: 0.0234 - accuracy: 0.9915
Epoch 102/250
30/30 [==============================] - 0s 876us/step - loss: 0.0225 - accuracy: 0.9926
Epoch 103/250
30/30 [==============================] - 0s 876us/step - loss: 0.0217 - accuracy: 0.9915
Epoch 104/250
30/30 [==============================] - 0s 899us/step - loss: 0.0208 - accuracy: 0.9936
Epoch 105/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0149 - accuracy: 1.0000
Epoch 00105: saving model to checkpoints\weights.105.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0202 - accuracy: 0.9936
Epoch 106/250
30/30 [==============================] - 0s 810us/step - loss: 0.0194 - accuracy: 0.9947
Epoch 107/250
30/30 [==============================] - 0s 868us/step - loss: 0.0186 - accuracy: 0.9936
Epoch 108/250
30/30 [==============================] - 0s 885us/step - loss: 0.0178 - accuracy: 0.9958
Epoch 109/250
30/30 [==============================] - 0s 997us/step - loss: 0.0170 - accuracy: 0.9958
Epoch 110/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0371 - accuracy: 1.0000
Epoch 00110: saving model to checkpoints\weights.110.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0164 - accuracy: 0.9968
Epoch 111/250
30/30 [==============================] - 0s 944us/step - loss: 0.0158 - accuracy: 0.9968
Epoch 112/250
30/30 [==============================] - 0s 886us/step - loss: 0.0151 - accuracy: 0.9968
Epoch 113/250
30/30 [==============================] - 0s 903us/step - loss: 0.0146 - accuracy: 0.9979
Epoch 114/250
30/30 [==============================] - 0s 913us/step - loss: 0.0140 - accuracy: 0.9979
Epoch 115/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0247 - accuracy: 1.0000
Epoch 00115: saving model to checkpoints\weights.115.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0134 - accuracy: 0.9979
Epoch 116/250
30/30 [==============================] - 0s 891us/step - loss: 0.0126 - accuracy: 0.9989
Epoch 117/250
30/30 [==============================] - 0s 877us/step - loss: 0.0122 - accuracy: 0.9989
Epoch 118/250
30/30 [==============================] - 0s 863us/step - loss: 0.0116 - accuracy: 0.9989
Epoch 119/250
30/30 [==============================] - 0s 890us/step - loss: 0.0113 - accuracy: 0.9979
Epoch 120/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0020 - accuracy: 1.0000
Epoch 00120: saving model to checkpoints\weights.120.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0106 - accuracy: 0.9979
Epoch 121/250
30/30 [==============================] - 0s 907us/step - loss: 0.0103 - accuracy: 0.9989
Epoch 122/250
30/30 [==============================] - 0s 891us/step - loss: 0.0099 - accuracy: 0.9989
Epoch 123/250
30/30 [==============================] - 0s 873us/step - loss: 0.0095 - accuracy: 1.0000
Epoch 124/250
30/30 [==============================] - 0s 825us/step - loss: 0.0091 - accuracy: 1.0000
Epoch 125/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0025 - accuracy: 1.0000
Epoch 00125: saving model to checkpoints\weights.125.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0087 - accuracy: 1.0000
Epoch 126/250
30/30 [==============================] - 0s 925us/step - loss: 0.0083 - accuracy: 1.0000
Epoch 127/250

30/30 [==============================] - 0s 936us/step - loss: 0.0080 - accuracy: 1.0000
Epoch 128/250
30/30 [==============================] - 0s 907us/step - loss: 0.0076 - accuracy: 1.0000
Epoch 129/250
30/30 [==============================] - 0s 894us/step - loss: 0.0073 - accuracy: 1.0000
Epoch 130/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0197 - accuracy: 1.0000
Epoch 00130: saving model to checkpoints\weights.130.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0070 - accuracy: 1.0000
Epoch 131/250
30/30 [==============================] - 0s 855us/step - loss: 0.0068 - accuracy: 1.0000
Epoch 132/250
30/30 [==============================] - 0s 911us/step - loss: 0.0065 - accuracy: 1.0000
Epoch 133/250
30/30 [==============================] - 0s 895us/step - loss: 0.0062 - accuracy: 1.0000
Epoch 134/250
30/30 [==============================] - 0s 904us/step - loss: 0.0060 - accuracy: 1.0000
Epoch 135/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0024 - accuracy: 1.0000
Epoch 00135: saving model to checkpoints\weights.135.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0057 - accuracy: 1.0000
Epoch 136/250
30/30 [==============================] - 0s 897us/step - loss: 0.0055 - accuracy: 1.0000
Epoch 137/250
30/30 [==============================] - 0s 911us/step - loss: 0.0053 - accuracy: 1.0000
Epoch 138/250
30/30 [==============================] - 0s 846us/step - loss: 0.0051 - accuracy: 1.0000
Epoch 139/250
30/30 [==============================] - 0s 901us/step - loss: 0.0049 - accuracy: 1.0000
Epoch 140/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0123 - accuracy: 1.0000
Epoch 00140: saving model to checkpoints\weights.140.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0048 - accuracy: 1.0000
Epoch 141/250
30/30 [==============================] - 0s 868us/step - loss: 0.0046 - accuracy: 1.0000
Epoch 142/250
30/30 [==============================] - 0s 861us/step - loss: 0.0044 - accuracy: 1.0000
Epoch 143/250
30/30 [==============================] - 0s 920us/step - loss: 0.0042 - accuracy: 1.0000
Epoch 144/250
30/30 [==============================] - 0s 924us/step - loss: 0.0041 - accuracy: 1.0000
Epoch 145/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0049 - accuracy: 1.0000
Epoch 00145: saving model to checkpoints\weights.145.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0039 - accuracy: 1.0000
Epoch 146/250
30/30 [==============================] - 0s 896us/step - loss: 0.0038 - accuracy: 1.0000
Epoch 147/250
30/30 [==============================] - 0s 875us/step - loss: 0.0036 - accuracy: 1.0000
Epoch 148/250
30/30 [==============================] - 0s 1ms/step - loss: 0.0035 - accuracy: 1.0000
Epoch 149/250
30/30 [==============================] - 0s 901us/step - loss: 0.0034 - accuracy: 1.0000
Epoch 150/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0022 - accuracy: 1.0000
Epoch 00150: saving model to checkpoints\weights.150.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0033 - accuracy: 1.0000
Epoch 151/250
30/30 [==============================] - 0s 938us/step - loss: 0.0032 - accuracy: 1.0000
Epoch 152/250
30/30 [==============================] - 0s 896us/step - loss: 0.0031 - accuracy: 1.0000
Epoch 153/250
30/30 [==============================] - 0s 895us/step - loss: 0.0029 - accuracy: 1.0000
Epoch 154/250
30/30 [==============================] - 0s 853us/step - loss: 0.0029 - accuracy: 1.0000
Epoch 155/250
 1/30 [>.............................] - ETA: 0s - loss: 5.1930e-04 - accuracy: 1.0000
Epoch 00155: saving model to checkpoints\weights.155.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0028 - accuracy: 1.0000
Epoch 156/250
30/30 [==============================] - 0s 879us/step - loss: 0.0027 - accuracy: 1.0000
Epoch 157/250
30/30 [==============================] - 0s 888us/step - loss: 0.0026 - accuracy: 1.0000
Epoch 158/250
30/30 [==============================] - 0s 864us/step - loss: 0.0025 - accuracy: 1.0000
Epoch 159/250
30/30 [==============================] - 0s 909us/step - loss: 0.0024 - accuracy: 1.0000
Epoch 160/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0020 - accuracy: 1.0000
Epoch 00160: saving model to checkpoints\weights.160.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0023 - accuracy: 1.0000
Epoch 161/250
30/30 [==============================] - 0s 930us/step - loss: 0.0023 - accuracy: 1.0000
Epoch 162/250
30/30 [==============================] - 0s 822us/step - loss: 0.0022 - accuracy: 1.0000
Epoch 163/250
30/30 [==============================] - 0s 856us/step - loss: 0.0021 - accuracy: 1.0000
Epoch 164/250
30/30 [==============================] - 0s 864us/step - loss: 0.0021 - accuracy: 1.0000
Epoch 165/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0011 - accuracy: 1.0000
Epoch 00165: saving model to checkpoints\weights.165.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0020 - accuracy: 1.0000
Epoch 166/250
30/30 [==============================] - 0s 872us/step - loss: 0.0020 - accuracy: 1.0000
Epoch 167/250
30/30 [==============================] - 0s 893us/step - loss: 0.0019 - accuracy: 1.0000
Epoch 168/250
30/30 [==============================] - 0s 888us/step - loss: 0.0018 - accuracy: 1.0000
Epoch 169/250
30/30 [==============================] - 0s 804us/step - loss: 0.0018 - accuracy: 1.0000
Epoch 170/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0015 - accuracy: 1.0000
Epoch 00170: saving model to checkpoints\weights.170.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0017 - accuracy: 1.0000
Epoch 171/250
30/30 [==============================] - 0s 954us/step - loss: 0.0017 - accuracy: 1.0000
Epoch 172/250
30/30 [==============================] - 0s 944us/step - loss: 0.0016 - accuracy: 1.0000
Epoch 173/250
30/30 [==============================] - 0s 874us/step - loss: 0.0016 - accuracy: 1.0000
Epoch 174/250
30/30 [==============================] - 0s 888us/step - loss: 0.0015 - accuracy: 1.0000
Epoch 175/250
 1/30 [>.............................] - ETA: 0s - loss: 5.2602e-04 - accuracy: 1.0000
Epoch 00175: saving model to checkpoints\weights.175.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0015 - accuracy: 1.0000
Epoch 176/250
30/30 [==============================] - 0s 881us/step - loss: 0.0014 - accuracy: 1.0000
Epoch 177/250
30/30 [==============================] - 0s 886us/step - loss: 0.0014 - accuracy: 1.0000
Epoch 178/250
30/30 [==============================] - 0s 964us/step - loss: 0.0014 - accuracy: 1.0000
Epoch 179/250
30/30 [==============================] - 0s 931us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 180/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0011 - accuracy: 1.0000
Epoch 00180: saving model to checkpoints\weights.180.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 0.0013 - accuracy: 1.0000
Epoch 181/250
30/30 [==============================] - 0s 906us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 182/250
30/30 [==============================] - 0s 867us/step - loss: 0.0012 - accuracy: 1.0000
Epoch 183/250
30/30 [==============================] - 0s 818us/step - loss: 0.0012 - accuracy: 1.0000
Epoch 184/250
30/30 [==============================] - 0s 845us/step - loss: 0.0012 - accuracy: 1.0000
Epoch 185/250
 1/30 [>.............................] - ETA: 0s - loss: 0.0016 - accuracy: 1.0000
Epoch 00185: saving model to checkpoints\weights.185.hdf5
30/30 [==============================] - 0s 981us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 186/250
30/30 [==============================] - 0s 922us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 187/250
30/30 [==============================] - 0s 909us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 188/250
30/30 [==============================] - 0s 921us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 189/250
30/30 [==============================] - 0s 877us/step - loss: 0.0010 - accuracy: 1.0000
Epoch 190/250

 1/30 [>.............................] - ETA: 0s - loss: 5.2667e-04 - accuracy: 1.0000
Epoch 00190: saving model to checkpoints\weights.190.hdf5
30/30 [==============================] - 0s 995us/step - loss: 9.9959e-04 - accuracy: 1.0000
Epoch 191/250
30/30 [==============================] - 0s 888us/step - loss: 9.7621e-04 - accuracy: 1.0000
Epoch 192/250
30/30 [==============================] - 0s 920us/step - loss: 9.5357e-04 - accuracy: 1.0000
Epoch 193/250
30/30 [==============================] - 0s 920us/step - loss: 9.2737e-04 - accuracy: 1.0000
Epoch 194/250
30/30 [==============================] - 0s 912us/step - loss: 9.0952e-04 - accuracy: 1.0000
Epoch 195/250
 1/30 [>.............................] - ETA: 0s - loss: 9.7769e-04 - accuracy: 1.0000
Epoch 00195: saving model to checkpoints\weights.195.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 8.8909e-04 - accuracy: 1.0000
Epoch 196/250
30/30 [==============================] - 0s 931us/step - loss: 8.6447e-04 - accuracy: 1.0000
Epoch 197/250
30/30 [==============================] - 0s 869us/step - loss: 8.4401e-04 - accuracy: 1.0000
Epoch 198/250
30/30 [==============================] - 0s 791us/step - loss: 8.2048e-04 - accuracy: 1.0000
Epoch 199/250
30/30 [==============================] - 0s 851us/step - loss: 8.0998e-04 - accuracy: 1.0000
Epoch 200/250
 1/30 [>.............................] - ETA: 0s - loss: 1.7758e-04 - accuracy: 1.0000
Epoch 00200: saving model to checkpoints\weights.200.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 7.8585e-04 - accuracy: 1.0000
Epoch 201/250
30/30 [==============================] - 0s 942us/step - loss: 7.7023e-04 - accuracy: 1.0000
Epoch 202/250
30/30 [==============================] - 0s 889us/step - loss: 7.4578e-04 - accuracy: 1.0000
Epoch 203/250
30/30 [==============================] - 0s 882us/step - loss: 7.3138e-04 - accuracy: 1.0000
Epoch 204/250
30/30 [==============================] - 0s 902us/step - loss: 7.1323e-04 - accuracy: 1.0000
Epoch 205/250
 1/30 [>.............................] - ETA: 0s - loss: 1.6551e-04 - accuracy: 1.0000
Epoch 00205: saving model to checkpoints\weights.205.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 6.9899e-04 - accuracy: 1.0000
Epoch 206/250
30/30 [==============================] - 0s 919us/step - loss: 6.8638e-04 - accuracy: 1.0000
Epoch 207/250
30/30 [==============================] - 0s 885us/step - loss: 6.6779e-04 - accuracy: 1.0000
Epoch 208/250
30/30 [==============================] - 0s 854us/step - loss: 6.5365e-04 - accuracy: 1.0000
Epoch 209/250
30/30 [==============================] - 0s 872us/step - loss: 6.3775e-04 - accuracy: 1.0000
Epoch 210/250
 1/30 [>.............................] - ETA: 0s - loss: 6.3250e-04 - accuracy: 1.0000
Epoch 00210: saving model to checkpoints\weights.210.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 6.2353e-04 - accuracy: 1.0000
Epoch 211/250
30/30 [==============================] - 0s 940us/step - loss: 6.1350e-04 - accuracy: 1.0000
Epoch 212/250
30/30 [==============================] - 0s 864us/step - loss: 5.9751e-04 - accuracy: 1.0000
Epoch 213/250
30/30 [==============================] - 0s 949us/step - loss: 5.8701e-04 - accuracy: 1.0000
Epoch 214/250
30/30 [==============================] - 0s 808us/step - loss: 5.7334e-04 - accuracy: 1.0000
Epoch 215/250
 1/30 [>.............................] - ETA: 0s - loss: 4.0104e-04 - accuracy: 1.0000
Epoch 00215: saving model to checkpoints\weights.215.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 5.6028e-04 - accuracy: 1.0000
Epoch 216/250
30/30 [==============================] - 0s 893us/step - loss: 5.4639e-04 - accuracy: 1.0000
Epoch 217/250
30/30 [==============================] - 0s 868us/step - loss: 5.3714e-04 - accuracy: 1.0000
Epoch 218/250
30/30 [==============================] - 0s 876us/step - loss: 5.2519e-04 - accuracy: 1.0000
Epoch 219/250
30/30 [==============================] - 0s 831us/step - loss: 5.1235e-04 - accuracy: 1.0000
Epoch 220/250
 1/30 [>.............................] - ETA: 0s - loss: 1.8854e-04 - accuracy: 1.0000
Epoch 00220: saving model to checkpoints\weights.220.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 5.0544e-04 - accuracy: 1.0000
Epoch 221/250
30/30 [==============================] - 0s 917us/step - loss: 4.9750e-04 - accuracy: 1.0000
Epoch 222/250
30/30 [==============================] - 0s 893us/step - loss: 4.8236e-04 - accuracy: 1.0000
Epoch 223/250
30/30 [==============================] - 0s 878us/step - loss: 4.7054e-04 - accuracy: 1.0000
Epoch 224/250
30/30 [==============================] - 0s 872us/step - loss: 4.6108e-04 - accuracy: 1.0000
Epoch 225/250
 1/30 [>.............................] - ETA: 0s - loss: 8.5145e-04 - accuracy: 1.0000
Epoch 00225: saving model to checkpoints\weights.225.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 4.5044e-04 - accuracy: 1.0000
Epoch 226/250
30/30 [==============================] - 0s 864us/step - loss: 4.4269e-04 - accuracy: 1.0000
Epoch 227/250
30/30 [==============================] - 0s 872us/step - loss: 4.3264e-04 - accuracy: 1.0000
Epoch 228/250
30/30 [==============================] - 0s 932us/step - loss: 4.2500e-04 - accuracy: 1.0000
Epoch 229/250
30/30 [==============================] - 0s 941us/step - loss: 4.1490e-04 - accuracy: 1.0000
Epoch 230/250
 1/30 [>.............................] - ETA: 0s - loss: 2.6100e-04 - accuracy: 1.0000
Epoch 00230: saving model to checkpoints\weights.230.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 4.0749e-04 - accuracy: 1.0000
Epoch 231/250
30/30 [==============================] - 0s 888us/step - loss: 3.9913e-04 - accuracy: 1.0000
Epoch 232/250
30/30 [==============================] - 0s 959us/step - loss: 3.9025e-04 - accuracy: 1.0000
Epoch 233/250
30/30 [==============================] - 0s 922us/step - loss: 3.8289e-04 - accuracy: 1.0000
Epoch 234/250
30/30 [==============================] - 0s 932us/step - loss: 3.7556e-04 - accuracy: 1.0000
Epoch 235/250
 1/30 [>.............................] - ETA: 0s - loss: 2.0950e-04 - accuracy: 1.0000
Epoch 00235: saving model to checkpoints\weights.235.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 3.6856e-04 - accuracy: 1.0000
Epoch 236/250
30/30 [==============================] - 0s 914us/step - loss: 3.6054e-04 - accuracy: 1.0000
Epoch 237/250
30/30 [==============================] - 0s 865us/step - loss: 3.5704e-04 - accuracy: 1.0000
Epoch 238/250
30/30 [==============================] - 0s 862us/step - loss: 3.4706e-04 - accuracy: 1.0000
Epoch 239/250
30/30 [==============================] - 0s 877us/step - loss: 3.4054e-04 - accuracy: 1.0000
Epoch 240/250
 1/30 [>.............................] - ETA: 0s - loss: 4.9823e-04 - accuracy: 1.0000
Epoch 00240: saving model to checkpoints\weights.240.hdf5
30/30 [==============================] - 0s 999us/step - loss: 3.3460e-04 - accuracy: 1.0000
Epoch 241/250
30/30 [==============================] - 0s 926us/step - loss: 3.2644e-04 - accuracy: 1.0000
Epoch 242/250
30/30 [==============================] - 0s 836us/step - loss: 3.2072e-04 - accuracy: 1.0000
Epoch 243/250
30/30 [==============================] - 0s 889us/step - loss: 3.1372e-04 - accuracy: 1.0000
Epoch 244/250
30/30 [==============================] - 0s 902us/step - loss: 3.0822e-04 - accuracy: 1.0000
Epoch 245/250
 1/30 [>.............................] - ETA: 0s - loss: 2.9199e-04 - accuracy: 1.0000
Epoch 00245: saving model to checkpoints\weights.245.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 3.0229e-04 - accuracy: 1.0000
Epoch 246/250
30/30 [==============================] - 0s 886us/step - loss: 2.9936e-04 - accuracy: 1.0000
Epoch 247/250
30/30 [==============================] - 0s 948us/step - loss: 2.9126e-04 - accuracy: 1.0000
Epoch 248/250
30/30 [==============================] - 0s 864us/step - loss: 2.8592e-04 - accuracy: 1.0000
Epoch 249/250
30/30 [==============================] - 0s 850us/step - loss: 2.7992e-04 - accuracy: 1.0000
Epoch 250/250

 1/30 [>.............................] - ETA: 0s - loss: 1.9973e-04 - accuracy: 1.0000
Epoch 00250: saving model to checkpoints\weights.250.hdf5
30/30 [==============================] - 0s 1ms/step - loss: 2.7443e-04 - accuracy: 1.0000

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

10/10 - 0s - loss: 0.2650 - accuracy: 0.9587 - 113ms/epoch - 11ms/step
Loss: 0.26496371626853943, Accuracy: 0.958730161190033

In [28]:
Results = []
for i in nn.predict(X_test_scaled):
    Results.append(round(i[0]))

Results
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, Results)

array([[302,   6],
       [  7,   0]], dtype=int64)

In [29]:
y_pred = pd.DataFrame(Results,columns=['Results'])
y_pred

     Results
0          1
1          0
2          0
3          0
4          0
..       ...
310        0
311        0
312        0
313        0
314        0

[315 rows x 1 columns]

In [30]:
y_pred.to_csv('Applications Results.csv',index=False)